language: python

service:
  - mysql

python:
  - 2.7
  - 3.3
  - 3.4
  - 3.5

before_install:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then sudo apt-get install python-dev libmysqlclient-dev; fi 
  - if [[ $TRAVIS_PYTHON_VERSION == 3* ]]; then sudo apt-get install python3-dev; fi

before_script:
  - mysql -uroot -e 'grant all on *.* to "osc"@"localhost" identified by "osc"'
  - mysql -uroot -e 'create database if not exists test'
  - echo -e "[server]\nsocket=/tmp/mysql.sock" | sudo tee -a /etc/mysql/my.cnf
  - sudo service mysql restart

install:
  - python setup.py install --install-scripts=/tmp

script: 
  - cd $TRAVIS_BUILD_DIR && ./test_cli --mysql-user=osc --mysql-password=osc --database test --socket=/tmp/mysql.sock 
